In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing 
import matplotlib.pyplot as plt
import pickle
import seaborn as sns
from sklearn.metrics import confusion_matrix  
from sklearn.metrics import accuracy_score, classification_report
from sklearn import metrics
from sklearn import tree
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
data=pd.read_csv('banktransaction.csv')


data = data[data.typeoffraud != 'none']
data.drop(['date'],axis=1,inplace=True)
typeoferror=data['typeoffraud']

In [3]:
data

     typeofaction  sourceid  destinationid  amountofmoney  isfraud typeoffraud
0         cash-in     30105          28942         494528        1       type1
1         cash-in     30105           8692         494528        1       type1
2         cash-in     30105          60094         494528        1       type1
3         cash-in     30105          20575         494528        1       type1
4         cash-in     30105          45938         494528        1       type1
...           ...       ...            ...            ...      ...         ...
1394     transfer     84359          95498         281507        1       type3
1395     transfer     82135          95498         281507        1       type3
1396     transfer     15214          95498         281507        1       type3
1397     transfer      4986          95498         281507        1       type3
1398     transfer     89938          95498         281507        1       type3

[1399 rows x 6 columns]

In [4]:
typeof=data['typeoffraud']
data.drop(['typeoffraud'],axis=1,inplace=True)
#data.drop(['date'],axis=1,inplace=True)

label_encoder = preprocessing.LabelEncoder() 

data['typeofaction']= label_encoder.fit_transform(data['typeofaction'])

In [5]:
X=data
Y=typeoferror

In [6]:
x_train, x_test, y_train, y_test = train_test_split(
        X, Y
        , test_size=.2, random_state=42)

In [7]:
dec = tree.DecisionTreeClassifier().fit(x_train, y_train)
dec_predict = dec.predict(x_test)

In [8]:
dec_predict

array(['type2', 'type2', 'type1', 'type2', 'type1', 'type2', 'type1',
       'type2', 'type3', 'type2', 'type3', 'type3', 'type2', 'type2',
       'type1', 'type1', 'type2', 'type2', 'type1', 'type1', 'type1',
       'type1', 'type1', 'type2', 'type1', 'type1', 'type1', 'type3',
       'type3', 'type2', 'type2', 'type2', 'type2', 'type2', 'type1',
       'type1', 'type1', 'type2', 'type3', 'type3', 'type1', 'type3',
       'type2', 'type2', 'type1', 'type3', 'type3', 'type2', 'type1',
       'type2', 'type2', 'type1', 'type2', 'type3', 'type3', 'type2',
       'type1', 'type2', 'type1', 'type2', 'type1', 'type1', 'type2',
       'type3', 'type2', 'type3', 'type3', 'type1', 'type1', 'type3',
       'type3', 'type2', 'type2', 'type2', 'type1', 'type1', 'type3',
       'type1', 'type3', 'type3', 'type1', 'type3', 'type2', 'type2',
       'type2', 'type3', 'type3', 'type1', 'type3', 'type2', 'type1',
       'type2', 'type3', 'type2', 'type3', 'type2', 'type3', 'type3',
       'type1', 'type3', 'type2', 'type1', 'type2', 'type3', 'type2',
       'type2', 'type2', 'type3', 'type2', 'type2', 'type2', 'type3',
       'type3', 'type1', 'type3', 'type3', 'type2', 'type1', 'type1',
       'type1', 'type3', 'type3', 'type2', 'type2', 'type1', 'type1',
       'type1', 'type1', 'type1', 'type3', 'type2', 'type2', 'type1',
       'type2', 'type3', 'type1', 'type3', 'type2', 'type2', 'type2',
       'type3', 'type1', 'type3', 'type2', 'type3', 'type3', 'type1',
       'type3', 'type2', 'type2', 'type3', 'type3', 'type3', 'type2',
       'type2', 'type3', 'type3', 'type3', 'type2', 'type3', 'type2',
       'type2', 'type3', 'type1', 'type3', 'type1', 'type1', 'type2',
       'type2', 'type2', 'type1', 'type1', 'type3', 'type2', 'type2',
       'type2', 'type1', 'type3', 'type3', 'type2', 'type3', 'type2',
       'type2', 'type2', 'type1', 'type3', 'type3', 'type2', 'type3',
       'type1', 'type3', 'type3', 'type3', 'type1', 'type1', 'type1',
       'type3', 'type3', 'type2', 'type3', 'type3', 'type3', 'type2',
       'type1', 'type1', 'type2', 'type3', 'type2', 'type3', 'type3',
       'type3', 'type3', 'type2', 'type3', 'type3', 'type3', 'type2',
       'type2', 'type1', 'type3', 'type3', 'type2', 'type2', 'type2',
       'type2', 'type3', 'type1', 'type1', 'type3', 'type1', 'type2',
       'type2', 'type2', 'type3', 'type2', 'type3', 'type2', 'type2',
       'type1', 'type3', 'type1', 'type3', 'type1', 'type2', 'type1',
       'type1', 'type3', 'type3', 'type2', 'type3', 'type1', 'type2',
       'type1', 'type3', 'type2', 'type2', 'type2', 'type1', 'type1',
       'type2', 'type3', 'type1', 'type2', 'type2', 'type3', 'type3',
       'type3', 'type3', 'type1', 'type1', 'type3', 'type3', 'type2',
       'type2', 'type2', 'type1', 'type3', 'type1', 'type1', 'type1'],
      dtype=object)

In [9]:
print(classification_report(
    y_test,
    dec_predict,
    output_dict=False,
    target_names=[ 'type1','type2','type3']
))

              precision    recall  f1-score   support

       type1       1.00      1.00      1.00        80
       type2       1.00      1.00      1.00       103
       type3       1.00      1.00      1.00        97

    accuracy                           1.00       280
   macro avg       1.00      1.00      1.00       280
weighted avg       1.00      1.00      1.00       280

In [10]:
with open('model/Model_class_ml.pkl', 'wb') as file:
    pickle.dump(dec, file)